{% layout 'homepage' %}
<header id="header" class="header hero">
  <div class="container-fluid nav-container">
    <div class="row">
      <div class="col-md-12 nav">
        <img class="nav-logo animated fadeInDown delay-03s" src="{{ 'logo_grey.png' | asset_url}}" alt="Up Dog Toys">
        <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
      </div>
    </div>
    <div class="text-center hero-text">
      <div class="headline-container">
        <h1 class="headline animated fadeInUp delay-05s">Now In Rose Quartz</h1>
        <p class="tagline animated fadeInUp delay-1s">The Odin: Treat Dispensing Dog Toy</p>
      </div>
      <p class="animated fadeInUp delay-1s">Slate Grey in stock, Rose Quartz pre-order shipping end of July</p>
      <div class="main-buttons">
        <a class="btn primary-btn animated fadeInUp delay-03s" href="/products/the-odin">Buy The Odin</a><br>
        <a class="btn secondary-btn fancybox-media animated fadeInUp delay-03s" href="http://www.youtube.com/watch?v=8l5Ehwm2g6g"><span class="fa fa-play" aria-hidden="true"></span> Watch the Video</a>
      </div>
    </div>
  </div>
</header>
<section class="features text-center section-padding" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Designed for you and your dog</h1>
        <div class="row">
          <div class="col-md-4 triplet wp4">
            <div class="overlay-effect effects clearfix">
              <div class="img">
                <img src="{{ 'Dogs With Toy-2325.jpg' | asset_url}}" alt="Portfolio Item">
                <div class="overlay">
                  <a href="#gallery" class="expand"><i class="fa fa-search"></i><br>View More</a>
                  <a class="close-overlay hidden">x</a>
                </div>
              </div>
            </div>
            <h2>Playtime with Treats</h2>
            <p>Put treats in it and your dog tries to get them out, providing mental stimulation and physical activity. If your dog enjoys food, they will love The Odin.</p>
          </div>
          <div class="col-md-4 triplet wp4 delay-03s">
            <div class="overlay-effect effects clearfix">
              <div class="img">
                <img src="{{ 'Toy-1898.jpg' | asset_url }}" alt="Portfolio Item">
                <div class="overlay">
                  <a href="#gallery" class="expand"><i class="fa fa-search"></i><br>View More</a>
                  <a class="close-overlay hidden">x</a>
                </div>
              </div>
            </div>
            <h2>Fits in your home</h2>
            <p>Dogs don't care how their toys look, they just want to play. We made a beautiful dog toy that complements your home and your dog will love.</p>
          </div>
          <div class="col-md-4 triplet wp4 delay-05s">
            <div class="overlay-effect effects clearfix">
              <div class="img">
                <img src="{{ 'Toy-2926.jpg' | asset_url }}" alt="Portfolio Item">
                <div class="overlay">
                  <a href="#gallery" class="expand"><i class="fa fa-search"></i><br>View More</a>
                  <a class="close-overlay hidden">x</a>
                </div>
              </div>
            </div>
            <h2>Modular</h2>
            <p>Connect multiple toys to add variation and change the difficulty. Each dog behaves differently depending on the number of toys used.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonials text-center section-padding dark-bg" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Featured in</h1>
        <img src="{{ 'logos.png' | asset_url }}" class="logos">
      </div>
    </div>
  </div>
</section>
<section class="gallery text-center section-padding" id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Photos</h1>
        <div id="product-gallery">
          <ul>
            <li>
              <a href="{{ 'gallery_home2.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery_home2_thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery_white1.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery_white1_thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery_table3.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery_table3_thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery_table4.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery_table4_thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery_smalldogs4.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery_smalldogs4_thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery_smalldogs3.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery_smalldogs3_thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery_odin4.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery_odin4_thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery_appa3.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery_appa3_thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery_reggie2.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery_reggie2_thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery-rose_quartz-2.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery-rose_quartz-2thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery-rose_quartz-4.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery-rose_quartz-4thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery-rose_quartz-13.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery-rose_quartz-13thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery-rose_quartz-17.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery-rose_quartz-17thumb.jpg' | asset_url }}" />
              </a>
            </li>
            <li>
              <a href="{{ 'gallery-rose_quartz-27.jpg' | asset_url }}" rel="main_gallery" class="fancybox">
                <img src="{{ 'gallery-rose_quartz-27thumb.jpg' | asset_url }}" />
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
</section>
<section class="order-cta text-center" id="cta">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>1% of all purchases go to help animals</h1>
        <p>We donate toys and a portion of all sales to our local animal shelter, Emerald City Pet Rescue.</p>
      </div>
    </div>
  </div>
</section>
<section class="faq text-center section-padding" id="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>FAQ</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 wp5 delay-03s">
        <div class="question">
          <h2>How do I use The Odin?</h2>
        </div>
        <div class="answer">
          <p><strong>Start off with very small treats or kibble that will easily fall out of the 4 holes on the sides of the toy.</strong> By using small treats, your dog will learn to get treats out gently by rolling or picking up and dropping The Odin.</p>
          <p>Show your dog that by shaking or rolling the toy, treats will fall out and then give them the toy for them to try. Supervise your dog at all times while they are playing. Do not allow your dog to chew or rip at the toy, as this will reduce the longevity of your toy.</p>
          <p>If your dog has no problems with the above and you'd like to increase the challenge, try larger treats and continue to monitor your dog.</p>
        </div>
        <div class="question">
          <h2>How tough is The Odin?</h2>
        </div>
        <div class="answer">
          <p><strong>The Odin is not made to be a chew toy or to be forced open.</strong> As long as you prevent those behaviors, the toy will last. We've had people with big, strong dogs say that The Odin is an amazing toy for their dog, but on the other hand also have had small dogs who have chewed through the toy.</p>
          <p>Supervise and guide your dog as they play. Once they start chewing, take it away and toss it for them to fetch and play again. Ideally your dog should be rolling and picking up and dropping the toy to get the treats out, not biting, tearing or forcing their snouts into the The Odin. We've discovered that the flaps are the weakest part of the toy and so the most care should be taken that your dog does not chew on the flaps while playing.</p>
        </div>
        <div class="question">
          <h2>What's the benefit of having 2 or more Odin toys?</h2>
        </div>
        <div class="answer">
          <p><strong>Connecting additional toys keeps The Odin interesting and challenging, making your dog play with it longer.</strong> When just one Odin is used, it rolls around in all directions. When two or more Odins are connected, it does not roll as easily and is harder to pick up so your dog will have to play with it differently.
          <p>Every dog we've tested with plays with one toy much more differently than they do with two toys connected since it changes from a ball to a longer log-like shape when two are attached together. For some dogs this is easier and for others, it is harder.</p>
        </div>
        <div class="question">
          <h2>What are the dimensions of The Odin?</h2>
        </div>
        <div class="answer">
          <p><strong>3.6in x 3.3in x 3.8in.</strong> It's bigger than a tennis ball but smaller than a softball. It holds about 1 cup food.</p>
        </div>
        <div id="returns" class="question">
          <h2>What's your warranty/return policy?</h2>
        </div>
        <div class="answer">
          <p><strong>If you purchased from us, we will provide a refund or one time replacement, no questions asked.</strong> Just contact us at <a href="mailto:info@updogtoys.com">info@updogtoys.com.</a> If you bought it from a retailer, please return to the same location.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="swag text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Corgi Break<span><em>Smile</em></span></h1>
      </div>
    </div>
  </div>
</section>
<section class="stores section-padding dark-bg" id="stores">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Where to Buy</h1>
        <div class="row">
          <div class="col-sm-12 text-center store-intro">
            <p>Get the Odin direct from us or from one of the stores below:</p>
            <a href="/products/the-odin" class="btn primary-btn">Buy the Odin</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <p>Online (US)</p>
            <ul>
              <li><a href="http://barkshop.com/items/odin">BarkShop</a></li>
              <li><a href="http://www.shopdogandco.com/toys/up-dog-toys-the-odin">Dog &amp; Co</a></li>
              <li><a href="http://theanimalrescuesite.greatergood.com/store/ars/item/67260/interlocking-puzzle-dog-toy">GreaterGood (The Animal Rescue Site)</a></li>
              <li><a href="http://www.thegrommet.com/up-dog-toys-the-odin-dog-puzzle-toy">The Grommet</a></li>
              <li><a href="/products/the-odin">Up Dog Toys</a> &ndash; Get one from us</li>
            </ul>
            <p>International (Online/Retail)</p>
            <ul>
              <li><a href="http://www.lapdognation.com.au/product/the-odin/">Lap Dog Nation</a> &ndash; Australia</li>
              <li><a href="http://www.luckypet.com.au/the-odin">Lucky Pet</a> &ndash; Australia</li>
              <li><a href="http://discoverdogs.ca/">Discover Dogs</a> &ndash; Canada</li>
              <li><a href="http://petlux.dk/collections/vinter-udsalg/products/the-odin-legebold">PetLux</a> &ndash; Denmark</li>
              <li><a href="http://www.coco-pei.com/it/odin-modern-modular-puzzle-toy-per-lo-sviluppo-mentale-del-tuo-cane.html">Coco-Pei.com</a> &ndash; Italy</li>
              <!-- <li><a href="http://www.hound.co.nz">The Hound</a> &ndash; New Zealand</li> -->
              <li><a href="http://gingerandbear.com.sg/collections/play/products/interactive-the-odin">Ginger and Bear</a> &ndash; Singapore</li>
              <!-- <li><a href="http://www.ppoul.com">P&amp;POUL</a> &ndash; Turkey</li> -->
            </ul>
            <p>Atlanta</p>
            <ul>
              <li><a href="http://highlandpet.com/">Highland Pet Supply</a> &ndash; Georgia</li>
            </ul>
            <p>California</p>
            <ul>
              <li><a href="http://spagodog.com/">SpaGo Dog</a> &ndash; Oakland</li>
            </ul>
            <p>Colorado</p>
            <ul>
              <li><a href="http://frommfamily.com/retailers/usa/location-details?id=eb615b36-e3b6-4153-a24b-561d6afa407f">The Paw Market</a> &ndash; Longmont</li>
              </ul>
          </div>
          <div class="col-sm-12 col-md-4">
            <p>Florida</p>
            <ul>
              <li><a href="http://woofgangbakery.com/">Woof Gang Bakery & Grooming</a> &ndash; Lighthouse Point</li>
            </ul>
            <p>Illinois</p>
            <ul>
              <li><a href="http://fourmuddypaws.com/">Four Muddy Paws</a> &ndash; Edwardsville</li>
            </ul>
            <p>Minnesota</p>
            <ul>
              <li><a href="http://www.bubblypaws.com/">Bubbly Paws Dog Wash</a> &ndash; St. Louis Park</li>
            </ul>
            <p>Missouri</p>
            <ul>
              <li><a href="http://fourmuddypaws.com/">Four Muddy Paws</a> &ndash; St. Louis</li>
            </ul>
            <p>New York</p>
            <ul>
              <li><a href="http://coldspringpetsupply.com/">Cold Spring Pet Supply</a> &ndash; Cold Spring</li>
              <li><a href="http://www.doggystylenyc.com/">Doggy Style</a> &ndash; New York</li>
              <li>Pet Necessities &ndash; New York</li>
            </ul>
            <p>Ohio</p>
            <ul>
              <li><a href="http://www.thedogstudio.net/">Dog Studio</a> &ndash; Cincinnati</li>
            </ul>
            <p>Oregon</p>
            <ul>
              <li><a href="http://www.roguevalleypet.com/">Rogue Valley Pet</a> &ndash; Medford</li>
              <li><a href="http://wonder-puppy.com/">Wonder Puppy</a> &ndash; Portland</li>
              <li><a href="http://naturespetmarket.com/">Nature's Pet Market</a> &ndash; Salem</li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-4">
            <p>Pennsylvania</p>
            <ul>
              <li><a href="http://www.werntzmemorial.com/">Werntz Memorial Animal Hospital</a> &ndash; Pittsburgh</li>
              <li><a href="http://yourmannerlymutt.com/">Your Mannerly Mutt, Inc.</a> &ndash; Secane</li>
            </ul>
            <p>South Carolina</p>
            <ul>
              <li><a href="http://www.pawsandclawsaugusta.com/">Paws &amp; Claws</a> &ndash; Greenville</li>
            </ul>
            <p>Wisconsin</p>
            <ul>
              <li><a href="http://www.baddogfrida.com/">Bad Dog Frida</a> &ndash; Madison</li>
            </ul>
            <p>Washington</p>
            <ul>
              <li><a href="http://www.bibarkery.com/">B.I. Barkery</a> &ndash; Bainbridge Island</li>
              <li><a href="http://www.dennyspet.com/">Denny's Pet World</a> &ndash; Kirkland</li>
              <li><a href="http://www.paddywack.net/">Paddywack</a> &ndash; Mill Creek</li>
              <li><a href="http://www.samscatsanddogs.com/">Sam's Cats and Dogs Naturally</a> &ndash; Monroe</li>
              <li><a href="http://playdoggiedaycare.com/">PLAY Doggie Daycare</a> &ndash; Seattle</li>
              <li><a href="http://www.scrapsonline.com">Scraps</a>&ndash; Seattle</li>
              <li><a href="http://www.facebook.com/wallypetswallingford">Wally Pets</a> &ndash; Seattle</li>
              <li><a href="http://www.maxscustomclothing.com/">Max's Custom Pet Clothing</a> &ndash; Spokane</li>
              <li><a href="http://www.pdogpet.com/">Prairie Dog Pet Mercantile</a> &ndash; Spokane</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-center store-ask">Don't see your favorite store above? <a href="emailto:info@updogtoys.com">Let us know where you shop</a> and ask them to carry The Odin.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about text-center section-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 wp5">
        <img src="{{ 'family.jpg' | asset_url }}" alt="Company Photo">
      </div>
      <div class="col-md-6 wp5 delay-03s">
        <h2>Big ears and big heart</h2>
        <p>Ever since our dog, Odin, came into our lives, he’s shared his innate happiness with everyone who encounters him. The joy he so easily spreads inspired us to start Up Dog Toys with a mission to make happy dogs and happy dog owners.</p>
        <p>In the same way that Odin makes everyone's day better, we hope our products will make you and your dog's day better too.</p>
        <h2 class="second-headline">Guiding principles</h2>
        <ul class="principles">
          <li>Happy dogs and happy humans</li>
          <li>The best toys are the ones that are played with often</li>
          <li>Build relationships with customers</li>
          <li>Design for beauty and functionality</li>
          <li>Have fun</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="kickstarter text-center section-padding dark-bg" id="kickstarter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="kickstarter-wrapper">
          <h1>Crowdfunded on Kickstarter</h1>
          <p>Thank you to our 769 backers who contributed $30,201 to launch Up Dog Toys</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="subscribe text-center">
  <a name="mailing-list"></a>
  <div class="container">
    <i class="fa fa-paper-plane"></i>
    <h2>Get Offers and New Product Updates</h2>
    <!-- Begin MailChimp Signup Form -->
    <form action="//updogtoys.us8.list-manage.com/subscribe/post?u=b41b5cefcd7a5736ee4c52664&amp;id=a5726273e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" placeholder="example@email.com" name="EMAIL" class="required email" id="mce-EMAIL" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;">
        <input name="b_b41b5cefcd7a5736ee4c52664_a5726273e7" tabindex="-1" value="">
      </div>
      <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="primary-btn">
    </form>
    <!--End mc_embed_signup-->
    </form>
  </div>
</section>
<section class="dark-bg text-center section-padding contact-wrap" id="contact">
  <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Contact Us</h1>
      </div>
    </div>
    <div class="row contact-details">
      <div class="col-md-6">
        <div class="light-box box-hover">
          <h2><i class="fa fa-map-marker"></i><span>Proudly Located In</span></h2>
          <p>Capitol Hill, Seattle, WA</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="light-box box-hover">
          <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
          <p><a href="mailto:info@updogtoys.com">info@updogtoys.com</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="social-buttons">
          <li><a href="http://www.facebook.com/updogtoys" class="social-btn"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://www.instagram.com/updogtoys" class="social-btn"><i class="fa fa-instagram"></i></a></li>
          <li><a href="http://www.twitter.com/updogtoys" class="social-btn"><i class="fa fa-twitter"></i></a></li>
          <li><a href="mailto:info@updogtoys.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
