{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<div class="product-page container-fluid" itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

  <form action="/cart/add" method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-9">
          <div class="product-photos">

          {% if product.images.size == 0 %}

            <div class="product-info-container">
              <img src="{{ '' | img_url: 'grande' }}" alt="" />
            </div>

          {% else %}

            <div class="video">
              {% if product.handle == 'the-odin' %}
                <div class="btn-play-video">
                  <a class="btn secondary-btn fancybox-media animated fadeInDown delay-03s" href="http://www.youtube.com/watch?v=8l5Ehwm2g6g"><span class="fa fa-play" aria-hidden="true"></span> Watch Video</a>
                </div>
                <video playsinline autoplay muted loop poster="{{ 'odin_movie.jpg' | asset_url }}" class="product-video">
                  <source src="{{ 'odin_clip.mp4' | asset_url }}" type="video/mp4">
                </video>
              {% elsif product.handle == 'the-kena' %}
                <div class="btn-play-video">
                  <a class="btn secondary-btn fancybox-media animated fadeInDown delay-03s" href="https://www.youtube.com/watch?v=yh04B-4Lvq8"><span class="fa fa-play" aria-hidden="true"></span> Watch the Video</a>
                </div>
                <video playsinline autoplay muted loop poster="{{ 'kena_feature.jpg' | asset_url }}" class="product-video">
                  <source src="{{ 'kena_clip.mp4' | asset_url }}" type="video/mp4">
                </video>
              {% endif %}
            </div>
            <ul>
              {% for image in product.images %}
              <li class="product-info-container wp{{ forloop.index }}">
                <div class="product-info-title product-info-caption">
                {% if image.alt != product.title %}
                  {{ image.alt | escape }}
                {% endif %}
                </div>
                <div class="product-info">
                  <a href="{{ image | img_url: 'master' }}" class="fancybox">
                    <img src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}"/>
                  </a>
                </div>
              </li>
              {% endfor %}
            </ul>

          {% endif %}

          </div><!-- .product-photos -->
          <div id="more-details">
            {% if product.handle == 'the-odin' %}
              <div class="product-info-container bordered">
                <div class="product-info-title">
                  Description
                </div>
                <div class="product-info">
                  <p>Place in treats or kibble easily from the top and bottom flaps, and then as your dog plays, the holes on the sides allow the treats to fall out.</p>
                  <p>Rubber-like material keeps hardwood floors and fragile furniture from getting scratched, while staying durable to doggy jaws.</p>
                  <p>This is not a chew toy. Please supervise your dog while playing.</p>
                </div>
              </div>
              <div class="product-info-container bordered">
                <div class="product-info-title">
                  Tips
                </div>
                <div class="product-info">
                  <ul>
                    <li>Start with small treats or kibble that fall out easily so your dog is quickly rewarded for playing.</li>
                    <li>Show them how it works by rolling it around and having treats fall out in front of them.</li>
                    <li>As they get better at it, upgrade to larger treats to increase difficulty.</li>
                    <li>Take it away if they start gnawing or ripping at the show and show them again to just roll the toy.</li>
                    <li>Attach 2 or more toys together to change the way it rolls and bounces.</li>
                  </ul>
                </div>
              </div>
              <div class="product-info-container bordered">
                <div class="product-info-title">
                  Name Dedication
                </div>
                <div class="product-info">
                  <p>Odin is our Chief Toy Inspector and the dog-son of the founders of Up Dog Toys.</p>
                </div>
              </div>
              <div class="product-info-container bordered">
                <div class="product-info-title">
                  Specs
                </div>
                <div class="product-info">
                  <ul>
                    <li>3.6in x 3.3in x 3.8in</li>
                    <li>Made of TPR (non-toxic, BPA free, pthalate free, latex free)</li>
                    <li>Made in China</li>
                  </ul>
                </div>
              </div>
              <div class="product-info-container bordered">
                <div class="product-info-title">
                  Care
                </div>
                <div class="product-info">
                  <p>Rinse with soapy water or use top rack of dish washer</p>
                </div>
              </div>
            {% elsif product.handle == 'the-kena' %}
              <div class="product-info-container bordered">
                <div class="product-info-title">
                  How It Works
                </div>
                <div class="product-info">
                  <p>Play fetch! The squeaker placed in the center encourages your dog to squeak and carry around the toy, while tough canvas keeps the toy from breaking down.</p>
                  <p>High quality squeaker keeps working even when punctured.</p>
                </div>
              </div>
              <div class="product-info-container bordered">
                <div class="product-info-title">
                  Name Dedication
                </div>
                <div class="product-info">
                  <p>Kena, pronounced Key-na, was Michelle's (founder of Up Dog Toys) first dog. She was a rescue chihuahua dachshund mix and passed away in 2016.</p>
                </div>
              </div>
              <div class="product-info-container bordered">
                <div class="product-info-title">
                  Specs
                </div>
                <div class="product-info">
                  <ul>
                    <li>7.5in x 5in x 5in</li>
                    <li>Made of cotton canvas, polyester and filling</li>
                    <li>Made in China</li>
                  </ul>
                </div>
              </div>
            {% endif %}
            <div class="product-info-container bordered">
              <div class="product-info-title">
                Cause
              </div>
              <div class="product-info">
                <p>1% of all purchases go toward saving animals at Emerald City Pet Rescue</p>
              </div>
            </div>
            <div class="product-info-container bordered">
              <div class="product-info-title">
                Return Policy
              </div>
              <div class="product-info">
                <p>Get a refund or replacement no questions asked. <a href="mailto:info@updogtoys.com">Email us info@updogtoys.com</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-3 product-details-container">
          <div class="product-details">
            <h1 itemprop="name">{{ product.title }}</h1>
            <div id="product-description" class="product-description" itemprop="description">
              {{ product.description }}
            </div>
            <a href="#more-details" class="more-details-link">More details</a>

            <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="delta rte">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
              {% if product.available %}
              <link itemprop="availability" href="http://schema.org/InStock" />
              {% else %}
              <link itemprop="availability" href="http://schema.org/OutOfStock" />
              {% endif %}
              <p>
                {% assign variant = product.selected_or_first_available_variant %}
                {% if product.compare_at_price > product.price %}
                <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
                <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
                {% else %}
                <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
                {% endif %}
              </p>
            </div>

            {% assign hide_default_title = false %}
            {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
              {% assign hide_default_title = true %}
            {% endif %}

            <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
              <select id="product-select" name="id" class="">
              {% for variant in product.variants %}
                <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
                {{ variant.title }} - {{ variant.price | money }}
                </option>
              {% endfor %}
              </select>
            </div>

            <div id="backorder" class="hidden">
              <p class="text-info">Back-ordered: You will be charged now for your purchase and be shipped the item once it is in stock.</p>
            </div>

            <div id="product-add">
              <input type="submit" name="add" id="add" class="btn primary-btn add-to-cart-btn" value="{{ 'Pre-order' | escape }}">
            </div>

          </div><!-- .product-details -->
        </div>
      </div>
      {% if product.handle == 'the-odin' %}
        <section class="product-instagram section-padding">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="wpinstagram">Customer Photos <a href="http://www.instagram.com/updogtoys">@updogtoys</a></h2>
              <div class="instagram-carousel wpinstagram delay-03s">
                <div id="instafeed-odin" class="product-instagram-photos instagram-photos"></div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}
    </div>
  </form>
</div>

<section class="other-product text-center section-padding light-bg" id="cta">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Check out our other toy</h1>
        {% if product.handle == 'the-odin' %}
          <div class="row">
            <div class="col-md-6 col-md-offset-3 featured-product">
              <a href="/products/the-kena">
                <img src="{{ 'kena-feature.jpg' | asset_url }}" alt="Kena Squeaker Toy" class="featured-image push-hover">
                <div class="product-title">The Kena</div>
                <div class="product-subtitle">Squeaker Toy</div>
              </a>
            </div>
          </div>
        {% elsif product.handle == 'the-kena' %}
          <div class="row">
            <div class="col-md-6 col-md-offset-3 featured-product">
              <a href="/products/the-odin">
                <img src="{{ 'odin-tip.jpg' | asset_url}}" alt="Odin Puzzle Toy" class="push-hover featured-image">
              </a>
              <div class="product-title">The Odin</div>
              <div class="product-subtitle">Treat Dispensing Puzzle Toy</div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% comment %}
  Adding support for product options. See here for details:
  http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options
{% endcomment %}
{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
/* =======================================================================
  Reading query parameters and storing them in a Shopify.queryParams object.
  Necessary for collection sorting and advanced collection filtering.
======================================================================= */

Shopify.queryParams = {};
if (location.search.length) {
  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}
var selectCallback = function(variant, selector) {

  if (variant) {

    // Selected a valid variant that is available.
    if (variant.available) {

      // Enabling add to cart button.
      jQuery('#add').removeClass('disabled').prop('disabled', false).val({{ add_to_cart | json }});

      // If item is backordered yet can still be ordered, we'll show special message.
      if (variant.inventory_management && variant.inventory_quantity <= 0) {
        jQuery('#selected-variant').html({{ product.title | json }}{% unless hide_default_title %} + ' - ' + variant.title{% endunless %});
        jQuery('#backorder').removeClass("hidden");
      } else {
        jQuery('#backorder').addClass("hidden");
      }

    } else {
      // Variant is sold out.
      jQuery('#backorder').addClass('hidden');
      jQuery('#add').val({{ sold_out | json }}).addClass('disabled').prop('disabled', true);
    }

    // Whether the variant is in stock or not, we can update the price and compare at price.
    if ( variant.compare_at_price > variant.price ) {
      jQuery('#product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
    } else {
      jQuery('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
    }

  } else {
    // variant doesn't exist.
    jQuery('#product-price').empty();
    jQuery('#backorder').addClass('hidden');
    jQuery('#add').val({{ unavailable | json }}).addClass('disabled').prop('disabled', true);
  }

};

jQuery(function($) {

  new Shopify.OptionSelectors('product-select', { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true });

  // Add label if only one product option and it isn't 'Title'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

});

jQuery(function($) {

  /* Placeholder JS */
  /*==========================*/
  var test = document.createElement('input');
  if (!('placeholder' in test)) {
    $('[placeholder]').each(function(){
      if ($(this).val() === '') {
        var hint = $(this).attr('placeholder');
        $(this).val(hint).addClass('hint');
      }
    });
    $('[placeholder]').focus(function() {
      if ($(this).val() === $(this).attr('placeholder')) {
        $(this).val('').removeClass('hint');
      }
    }).blur(function() {
      if ($(this).val() === '') {
        $(this).val($(this).attr('placeholder')).addClass('hint');
      }
    });
  }

  /* Form validation JS */
  /*==========================*/

  $('input.error, textarea.error').focus(function() {
    $(this).removeClass('error');
  });

  $('form :submit').click(function() {
    $(this).parents('form').find('input.hint, textarea.hint').each(function() {
      $(this).val('').removeClass('hint');
    });
    return true;
  });

  /* Remove SVG images to avoid broken images in all browsers that don't support SVG. */
  /*==========================*/

  var supportsSVG = function() {
    return document.implementation.hasFeature('http://www.w3.org/TR/SVG11/feature#Image', '1.1');
  }
  if (!supportsSVG()) {
    $('img[src*=".svg"]').remove();
  }

  /* Prepare to have floated images fill the width of the design on blog pages on small devices. */
  /*==========================*/

  var images = $('.article img').load(function() {
    var src = $(this).attr('src').replace(/_grande\.|_large\.|_medium\.|_small\./, '.');
    var width = $(this).width();
    $(this).attr('src', src).attr('width', width).removeAttr('height');
  });

});

</script>
