<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="OmBw-gQtHlTMsUE-9epZWQE8_Q9MeHK6KZ4j29BW3Ck" />
  <title>Up Dog Toys - Toys for a Modern Dog</title>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  {{ 'app.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body id="top" class="{{ template | replace: '.', ' ' | truncatewords: 1, '' }}" id="{{ page_title | handle }}">
  <header class="text-center">
    <a href="/"><img src="{{ 'logo_grey.png' | asset_url }}"></a>
  </header>
  {{ content_for_layout }}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#returns">Return Policy</a></li>
            <li><a href="pages/wholesale">Wholesale Inquiries</a></li>
            <li><a href="#stores">Where to Buy</a></li>
            <li><a href="mailto:info@updogtoys.com">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Up Dog Toys &copy; 2014 &mdash; Created by Odin, the Pembroke Welsh Corgi. Please excuse typos from <a href="http://www.youtube.com/watch?v=pCyzqRvmrVE" class="fancybox-media">my large paws typing on small keys.</a></p>
        </div>
      </div>
    </div>

  </footer>

  {{ 'main.js' | asset_url | script_tag }}
</body>

</html>
